
 .landing-page .navbar {
    background-image: url(../img/find-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
     box-shadow: 0px 0px 4px 3px #1e4834;
}

.no-scroll .landing-page .navbar {
    padding: 0px 20px;
    background-image: url(../img/find-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px 3px #1e4834;
}