:root{
    --overlay-alpha-80:  rgba(244, 244, 244, 0.8);
    --color-green:  #579C5B;
    --bg-green:  #579C5B;
}

html{
   height: 100%;
   width: 100%;
    background: #F4F4F4;
}

body{
   margin: 0;
   padding: 0;

   overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background: #579C5B;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #e6e6e6
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f5f5f5
}

/***********  Colors  ************/
.green{
    color: #579C5B;
}
.green-bg{
    background: #579C5B;
    color: #fff;
}

.blue{
    color: #127AD9;
}

.blue-bg{
    background: #127AD9;
    color: #fff;
}

.orange{
    color: #FC5922;
}
.orange-bg{
    background: #FC5922;
    color: #fff;
}

.pink{
    color: #8763D6;
}

.pink-bg{
    background: #8763D6;
    color: #fff;
}

.gray-bg{
    background: #E4E4E4;
    color: #fff;
}

.btn:focus, .btn.focus {
   outline: 0;
   box-shadow:  none;
}

.layout{
  position: relative;
}


.main-header{

}

.main-header .navbar{
    background-color: #579C5B;
    border-color: #080808;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    height: 31px;
    z-index: 9999999999999999999;
}

.main-header .navbar .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.main-header .navbar .navbar-brand img {
    height: 26px;
    margin-bottom: 5px;
}

.main-header .navbar .nav-item a{
     color: #fff;
}

.main-header  .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
}

.main-header .navbar .nav-item.user-account{
    border-left: 1px solid #ffffff80;
    height: 22px;
    margin-top: 3px;
    margin-left: 10px;
}

.main-header .navbar .nav-item.user-account .nav-link{
    padding: 2px 15px;
}


.main-header .navbar .nav-item.user-account i{
      margin-right: 5px;
}

.main-header .navbar .nav-item.user-account .dropdown-menu a{
      color: #000;
}

.main-header .navbar .nav-item.user-account .dropdown-menu{
    background-color: #579c5b;
    background-clip: padding-box;
    border-radius: 0;
    margin: 5px 0 0;
}

.main-header .navbar .nav-item.user-account .dropdown-toggle::after {
       display: none;
}
.main-header .mobile-search-form {
    display: none;
}

.main-header .navbar-form {
    margin: 0;
    margin-top: -4px;
    padding: 0;
}

.main-header .navbar-form .search-box {
    border: 0px;
    height: 26px;
    outline: none;
    width: 260px;
    padding-right: 3px;
    padding-left: 32px;
    margin: 4px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}


.main-header .navbar-form button {
    border: 0;
    background: none;
    padding: 2px 8px;
    margin-top: 2px;
    position: relative;
    right: -34px;
    margin-bottom: 0;
    color: #0000008a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.main-header .navbar-form   button {
    color: #579c5b;
}


.main-header .search-box:focus + button {
    z-index: 3;
}
.mobile-search-btn{
    display: none;
}

.wrapper{
    padding-top: 31px;
}

.main-content{

}

.main-content .content{
    padding-top: 20px;
}

.top-header{
    background: #fff;
    width: 450px;
    height: 36px;
    padding: 7px 13px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0px 1px rgba(0,0,0,.1);
    text-align: center;
}

.top-header i{
    margin-right: 7px;
}


/*************  Post Container **************/
.post-container{
    width: 100%;
    position: relative;
    margin-bottom: 120px;
}
.post-container .img {
    width: 100%;
    object-fit: cover;
    /*object-position: right top;*/
    object-position: center;
    border-radius: 10px;
}

.post-container .card {
    position: absolute;
    right: 8px;
    left: 8px;
    top: 327px;
    min-height: 137px;
    background:#fff;
    box-shadow:0 0px 4px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}

.post-container .card .card-header {
     padding: 4px 0px 0px 10px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}
.post-container .card .card-header img{
   width: 30px;
   height: 30px;
    border-radius: 50%;
}

.post-container .card .card-body{
    padding: 5px;
}

.post-container .card .card-body textarea  {
    box-shadow: none;
    height: 50px;
    margin-bottom: 4px;
    border: none;
}

.post-container .card .card-body button  {
    margin-left: 11px;
    margin-top: 2px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    padding: 1px 15px;
    border-radius: 20px;
}
.post-container  .camera  {
    color: #fff;
    position: absolute;
    right: 33px;
    top: 33px;
}

/******************  Post   *****************/
.posts{

}
.posts .title{
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    color: #6b6767;
}

.posts .post-item{
    position: relative;
    min-height: auto;
    background: #fff;
    box-shadow: 0 0px 3px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 25px
}

.posts .post-item .card-header{
    padding: 10px 10px 0px 10px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.posts .post-item .card-header .user-name{
     display: inline-flex;
}

.posts .post-item .card-header .user-name .name{
    margin-right: 8px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.posts .post-item .card-header .user-name .time{
    color: #6c757d !important;
    margin-top: 2px;
}

.posts .post-item .card-header .dropdown-toggle{
    color: #ba8a7d;
    font-size: 22px;
    margin-top: -10px;

}

.posts .post-item .card-header .dropdown-toggle::after {
    display: none;
}

.posts .post-item .card-body   {
    padding: 0;
}

.posts .post-item .card-body .body  {
    padding: 10px;
}

.posts .post-item .card-body .tag-btn  {
    background: #579C5B;
    color: #fff;
    border-radius: 20px;
    padding: 0 10px;
}

.posts .post-item .card-body .post-imgs{
    padding: 10px;
}

.posts .post-item .card-body .post-imgs  img{
        height: auto;
    width: 100%;
}

.posts .post-item .card-body .post-imgs  .col-lg-6{
    padding-right: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.posts .post-item .card-body .post-imgs  .col-lg-12{
    padding-right: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.posts .post-item .card-body .card-footer  {
    padding: 5px 10px;
    background-color: transparent;
    border-top: none;
}


.posts .post-item .card-body .card-footer .actions{
    font-size: 15px;
}

.posts .post-item .card-body .card-footer ul{
    margin: 0;
}
.posts .post-item .card-body .card-footer li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
}
.posts .post-item .card-body .card-footer li a img{
    width: 25px;
    height: 25px;
    margin: 0px !important;
    border: 2px solid #fff;
}

/******************  Widgets   *****************/

.widget {
    position: relative;
    min-height: auto;
    background: #fff;
    box-shadow: 0 0px 4px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 30px;
}


.widget.profile .card-body {
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.widget.profile .card-body .img {
    width: 99px;
        height: auto;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.widget.profile .card-body .img img {
    width:100%;
    height:100%;
}

.widget.profile .card-body .user-name {
    font-size: 22px;
    margin-top: 10px ;
}

.widget.profile .card-body .user-position{
    font-size: 17px;
    margin-top: -6px;
    margin-bottom: 12px;
    display: block;
}
.widget.profile .card-body .user-desc{

}

.widget.profile .card-body .edit-btn{
    padding: 2px 14px;
    background: #579c5b;
    color: #fff;
    border-radius: 20px;
}

 .widget.profile .card-body p {
    color:#262626;
}

 .widget.profile .card-body .files {
     margin-bottom: 25px;
     padding: 0px 50px;
}
 .widget.profile .card-body .files h3{
     font-size: 20px;
}

 .widget.profile .card-body .files .col-lg-4{
     padding-right: 5px;
     padding-left: 5px;
}

 .widget.profile .card-body .files .file {
     margin-bottom: 10px;
     padding: 20px 0px;
     border-radius: 10px;
}




.widget.farm-media .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.farm-media .card-header h3{
    font-size: 17px;
}

.widget.farm-media .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.widget.farm-media .card-body .media{
    padding: 10px;
}

.widget.farm-media .card-body .media  img{
        height: auto;
    width: 100%;
}

.widget.farm-media .card-body .media  .col-lg-6{
    padding-right: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.widget.farm-media .card-body .media  .col-lg-12{
    padding-right: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}



.widget.farmers .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.farmers .card-header h3{
    font-size: 17px;
}

.widget.farmers .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.widget.farmers .card-body .media{
    padding: 10px;
}

.widget.farmers .card-body .media  img{
        height: auto;
    width: 100%;
}

.widget.farmers .card-body .media  .col-lg-6{
    padding-right: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.widget.farmers .card-body .media  .col-lg-12{
    padding-right: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.widget.farmers  .search-form {
    margin-bottom: 19px;
    margin-top: -15px;
    padding: 0;
}

.widget.farmers   .search-form .search-box {
    border: 1px solid #00000052;
    height: 30px;
    outline: none;
    width: 174px;
    padding-right: 3px;
    padding-left: 32px;
    /* margin: 4px; */
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}


.widget.farmers   .search-form button {
    border: 0;
    background: none;
    padding: 2px 8px;
    margin-top: 2px;
    position: relative;
    right: -34px;
    margin-bottom: 0;
    color: #0000008a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.widget.farmers   .search-form   button {
    color: #579c5b;
}


.widget.farmers  .search-box:focus + button {
    z-index: 3;
}


.widget.mywallet .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.mywallet .card-header h3{
    font-size: 17px;
}

.widget.mywallet .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.widget.mywallet .card-footer  {
    padding: 10px 10px;
    background-color: transparent;
    border-top: none;
}

.widget.mywallet .card-footer .btn{
    padding: 1px 14px;
    font-size: 13px;
    background: #579c5b;
    color: #fff;
    border-radius: 20px;
}



.widget.agrobusinesses .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.agrobusinesses .card-header h3{
    font-size: 17px;
}

.widget.agrobusinesses .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.widget.agrobusinesses .card-footer  {
    padding: 10px 10px;
    background-color: transparent;
    border-top: none;
}

.widget.agrobusinesses .card-footer .btn{
    padding: 1px 14px;
    font-size: 13px;
    background: #579c5b;
    color: #fff;
    border-radius: 20px;
}






.widget.agronmers .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.agronmers .card-header h3{
    font-size: 17px;
}

.widget.agronmers .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.widget.agronmers .card-body .media{
    padding: 10px;
}

.widget.agronmers .card-body .media  img{
        height: auto;
    width: 100%;
}

.widget.agronmers .card-body .media  .col-lg-6{
    padding-right: 0px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.widget.agronmers .card-body .search-form {
    margin: 0;
    margin-top: -4px;
    padding: 0;
}

.widget.agronmers .card-body .search-form .search-box {
    border: 1px solid #00000052;
    height: 30px;
    outline: none;
    width: 227px;
    padding-right: 3px;
    padding-left: 32px;
    margin: 4px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}


.widget.agronmers .card-body .search-form button {
    border: 0;
    background: none;
    padding: 2px 8px;
    margin-top: 2px;
    position: relative;
    right: -34px;
    margin-bottom: 0;
    color: #0000008a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.widget.agronmers .card-body .search-form   button {
    color: #579c5b;
}


.widget.agronmers .card-body .search-box:focus + button {
    z-index: 3;
}

.widget.agronmers .card-footer  {
    padding: 10px 10px;
    background-color: transparent;
    border-top: none;
}

.widget.agronmers .card-footer .btn{
    padding: 1px 14px;
    font-size: 13px;
    background: #579c5b;
    color: #fff;
    border-radius: 20px;
}



.widget.awards .card-header{
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.widget.awards .card-header h3{
    font-size: 17px;
}

.widget.awards .card-body {
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.widget.awards .card-footer  {
    padding: 10px 10px;
    background-color: transparent;
    border-top: none;
}

.widget.awards .card-footer .btn{
    padding: 1px 14px;
    font-size: 13px;
    background: #579c5b;
    color: #fff;
    border-radius: 20px;
}

.widget.awards .card-body .files {
    margin-bottom: 25px;
    text-align: center;
    padding: 0 20px;
}
.widget.awards .card-body .files h3{
    font-size: 20px;
}

.widget.awards .card-body .files .col-lg-6{
    padding-right: 5px;
    padding-left: 5px;
}

.widget.awards .card-body .files .file {
    margin-bottom: 10px;
    padding: 20px 0px;
    border-radius: 10px;
}
.widget.awards .card-body .files .file i{
     font-size: 30px;
}

/***********************************************************
*                         React Modal
************************************************************/
.ReactModal__Body--open{
    overflow: hidden;
}

.ReactModal__Body--open .ReactModal__Overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(244, 244, 244, 0.8) !important;
}

.ReactModal__Body--open .ReactModal__Content{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border:  none !important;
    overflow: hidden !important;
    outline: none;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background: #fff !important;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 10px !important;
    transition: 0.5s;
    padding: 0  !important;
}

.create-post-modal {
    padding: 0px !important;
    min-height: auto;
    min-width: 500px;
}

.create-post-modal .header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 6px;
}

.create-post-modal .header h1{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 2px;
    color: #000;
}

.create-post-modal .header .close-btn{
    position: absolute;
    right: 18px;
    top: 7px;
    background: #D8DADF;
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.create-post-modal .header .close-btn i{
     color: #767C84;
}


.create-post-modal .body{
    padding: 10px !important;
}

.create-post-modal .body .privacy-btn{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.create-post-modal .body .privacy-btn h3{
    font-size: 20px;
    color: #797373;
    margin-right: 14px;
}

.create-post-modal .body .privacy-btn .btn{
    background: #D8DADF;
    padding: 6px 10px !important;
    color: #000;
    line-height: 0.5 !important;
    margin-bottom: 8px;
}


.create-post-modal .body .user {
    margin-top: 10px;
}
.create-post-modal .body .user img{
    width: 35px;
    height: 35px;
}

.create-post-modal .body .user .user-name{
    margin-top: 8px;
    font-weight: 600;
}


.create-post-modal .body .post-text{
    margin-top: 13px;
    border: none;
    resize: none;
}



.create-post-modal .footer{
    padding: 11px !important;
}


.create-post-modal .footer .post-btn{
    padding: 3px !important;
    background: #579C5B;
    color: #fff;
    width: 100%;
}



/***********************************************************
*                 Responsiveness
************************************************************/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    body{
         /*background: blue;*/
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    body{
        /*background: yellow;*/
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    body{
         /*background: purple;*/
    }
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        /*background: green;*/
    }
    .post-container .card {
        position: absolute;
        right: 8px;
        left: 8px;
        top: 410px;
        min-height: 137px;
        background: #fff;
        box-shadow: 0 0px 4px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    body{
        /*background: gray;*/
    }
    .main-header .navbar .navbar-brand {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .main-header .navbar .navbar-brand img {
        height: 26px;
        width: 80px;
        margin-bottom: 5px;
    }

    .main-header .navbar-form  {

    }

    .main-header  .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        display: none;
    }

    .post-container .card {
        position: absolute;
        right: 8px;
        left: 8px;
        top: 259px;
        min-height: 137px;
        background: #fff;
        box-shadow: 0 0px 4px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
    }

    .main-header .navbar-form .search-box {
        border: 0px;
        height: 26px;
        outline: none;
        width: 160px;
        padding-right: 3px;
        padding-left: 32px;
        margin: 4px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
    }

    .main-header .navbar .nav-item.user-account .nav-link {
        padding: 2px 15px;
        margin-right: -7px !important;
    }

    .main-header  .navbar-nav .nav-link {
        padding-right: 5px;
        padding-left: 5px;
    }

    .main-header .navbar-form {
        margin: 0;
        margin-top: -4px;
        padding: 0;
        margin-left: -31px;
    }
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 200px) and (max-width: 480px) {
    body{
        /*background: red;*/
    }
    .create-post-modal {
        padding: 0px !important;
        min-height: auto;
        min-width:300px;
    }

    .main-header .navbar .navbar-brand {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .main-header  .navbar-nav .nav-link {
        padding-right: 5px;
        padding-left: 5px;
    }

    .main-header .navbar .navbar-brand img {
        height: 26px;
        width: 66px;
        margin-bottom: 4px;
    }

    .main-header .navbar-form  {
        display: none;
    }

    .main-header .navbar .nav-item.user-account .nav-link {
        padding: 2px 15px;
        margin-right: -7px !important;
    }

    .top-header{
        background: #fff;
        width: 300px;
        height: 27px;
        padding: 7px 13px;
        font-size: 12px;
        margin: 0 auto;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0px 1px rgba(0,0,0,.1);
        text-align: center;
    }

    .top-header .col{
        padding-right: 0;
    }

    .top-header i{
        margin-right: 7px;
    }

    .main-header .navbar-form .search-box {
        border: 0px;
        height: 26px;
        outline: none;
        width: 50px;
        display: none;
        padding-right: 3px;
        padding-left: 32px;
        margin: 4px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
    }

    .main-header .navbar-form button {
        border: 0;
        background: none;
        padding: 2px 8px;
        margin-top: 2px;
        position: relative;
        right: -34px;
        margin-bottom: 0;
        color: #0000008a;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .main-header  .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        display: none;
    }

    .show-mobile-search{
        overflow: hidden;
    }


     .mobile-search-btn{
         color: #fff;
         display: block;
     }

     .mobile-search-btn:hover{
         color: #fff;
     }



    .main-header .mobile-search-form {
        margin: 0;
        padding: 0;
        background: #fff;
        position: fixed;
        top: 31px;
        left: 0;
        right: 0;
        z-index: 999999999;
        display: none;
    }

    .show-mobile-search .main-header .mobile-search-form{
        display: block;
    }

    .main-header .mobile-search-form .overlay{
        position: fixed;
        top: 65px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(244, 244, 244, 0.8) !important;
    }

    .main-header .mobile-search-form .form{

    }

    .main-header .mobile-search-form .search-box {
        border: 0px;
        height: 26px;
        outline: none;
        width: 250px;
        padding-right: 3px;
        padding-left: 0px;
        margin: 4px;
    }

    .main-header .mobile-search-form button {
        border: 0;
        background: none;
        padding: 2px 8px;
        margin-top: 2px;
        position: relative;
        right: -3px;
        margin-bottom: 0;
        color: #0000008a;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .main-header .mobile-search-form   button {
        color: #579c5b;
    }


    .main-header .mobile-search-form .search-box:focus + button {
        z-index: 3;
    }

     .main-header .navbar-nav {
        margin-right: -25px;
     }

     .main-header .dropdown-menu {
        min-width: 100px;
      }

    .widget.profile .card-body .files .col-4{
        padding-right: 0px;
        padding-left: 9px;
    }

    .widget.profile .card-body .files .file {
        margin-bottom: 10px;
        padding: 20px 0px;
        border-radius: 10px;
    }

    .posts .post-item .card-body .post-imgs   {
        padding-right: 17px;
        padding-left: 17px;
    }
    .posts .post-item .card-body .post-imgs .col-lg-6 {
        padding-right: 4px;
        padding-left: 4px;
        margin-bottom: 6px;
    }
    .posts .post-item .card-body .post-imgs .col-lg-12 {
        padding-right: 4px;
        padding-left: 4px;
        margin-bottom: 6px;
    }
    .posts .post-item .card-body .card-footer {
        padding: 4px 5px;
        background-color: transparent;
        border-top: none;
    }
    .posts .post-item .card-body .card-footer .actions {
        font-size: 11px;
    }
    .posts .post-item .card-link + .card-link {
        margin-left: 10px;
    }

    .posts .post-item .card-header .user-name {
        display: block;
    }

    .posts .post-item .card-header .user-name .name {
        margin-right: 8px;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 18px;
    }

    .posts .post-item .card-header .user-name .time {
        color: #6c757d !important;
        margin-top: -4px;
        font-size: 15px;
    }

    .post-container .card {
        position: absolute;
        right: 8px;
        left: 8px;
        top: 144px;
        min-height: 137px;
        background: #fff;
        box-shadow: 0 0px 4px rgba(0,0,0,.1);
        border-radius: 10px;
        transition: 0.5s;
    }

    .post-container .card .card-body button {
        margin-left: 5px;
        margin-top: 2px;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.24);
        background: #fff;
        padding: 1px 15px;
        border-radius: 20px;
    }

    .widget.farmers   .search-form{

    }

    .widget.farmers   .search-form .search-box {
        border: 1px solid #00000052;
        height: 30px;
        outline: none;
        width: 80%;
        padding-right: 3px;
        padding-left: 32px;
        /* margin: 4px; */
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
    }


}